@use '../abstract/' as *;

.hdr {
    
    &__wrapper {

        @include flex(space-between, center, row);
        
        margin-inline: 1.5rem;
        margin-block-start: 4.625rem;
      
    }
    

    &__nav {
        display: none;
    }

    @include breakpoint(medium) {

        &__wrapper {
            margin-block-start: 0rem;
            margin-inline-end: 0rem;

        }

         
        &__nav {
            
            @include flex(center, center, row);
            background-color: var(--clr-primary);
            max-height: 438px;
            padding-inline-start: 33px;
            padding-inline-end: 40px;


            a + a:not(:nth-child(4)) {
                margin-inline-start: 22px;
            }
            
        }

        & a > button {
            border: none;
            background-color: var(--clr-bgBlack);
            color: var(--clr-white);
            padding: 1.4375rem 1.125rem;
            font-family: $fontf;
            margin-inline-start: 1.125rem;
            font-size: 1rem;
            font-weight: $fw-800;
           
        }
         
        &__nav > a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 0.9375rem;
            font-weight: $fw-400;
            font-family: $fontf;
            line-height: 2rem;
            color: var(--clr-white);

            padding-block: 4.5625rem;

        }
        
        &__ham {
            display: none;
        }
            
        
    }
    
}

.hero {

    &__img {
        min-width: 23.4375rem;
        min-height: 12.5rem;
         
        background-image: url(../../assets/mobile/image-hero.jpg);
        background-repeat: no-repeat; 
        background-size: cover;  
    }


}